.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 15rem;
  font-weight: bold;
  color: #ffff;
  text-shadow: 1px 3px grey;
  opacity: 0;
  overflow: hidden;
}
.active {
  opacity: 1;
  overflow: visible;
}

@media screen and (max-width: 1180px) {
  .content {
    font-size: 12rem;
  }
}
@media screen and (max-width: 992px) {
  .content {
    font-size: 10rem;
  }
}
@media screen and (max-width: 768px) {
  .content {
    font-size: 8rem;
  }
}
@media screen and (max-width: 600px) {
  .content {
    font-size: 6rem;
  }
}
